@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Chat Teste</h1>
    <div class="container">
      <div class="content">
        
      </div>
    </div>
</div>